@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Press+Start+2P&display=swap');

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg-clr1: radial-gradient(circle, rgba(82, 174, 215, 1) 0%, rgba(19, 76, 145, 1) 100%);
    --card-border-clr: radial-gradient(transparent, rgba(255, 255, 255, 0.2));
    --card-header-clr: linear-gradient(#FECA00 38%, #D07800 74%, #FF9300 91%);;

    --font-clr1: #f8f8f8;
    --card-back-clr: #000;
    --buff-clr: #0f0;
    --debuff-clr: #f0f;
    --active-clr: #0ff;
    --bg-clr2: #f8f8f8;
    --btn-hover: #d8d8d8;
    
    --font-clr2: rgba(3, 3, 3, 1);
    --buff-border: rgba(0, 255, 0, 0.5);
    --debuff-border: rgba(255, 0, 255, 0.5);
    --active-border: rgba(0, 255, 255, 0.5);
    --msg-bg-clr: rgba(102, 0, 255, 0.8);
    --msg-bg-win: rgba(0, 150, 0, 0.8);
    --msg-bg-lose: rgba(255, 0, 0, 0.8);
    --msg-bg-draw: rgba(150, 150, 0, 0.8);

    --pb-dimensions: 250px;
    --pb-card-dimen: 120px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-clr1);
}

.pokeball-bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--pb-dimensions);
    min-height: var(--pb-dimensions);
    width: var(--pb-dimensions);
    height: var(--pb-dimensions);
    background: #fff;
    border-radius: 50%;
    border: 5px solid #000;
    z-index: 100;
}

.pokeball-bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(50% - 2px);
    background: #f00;
    border-top-left-radius: calc(var(--pb-dimensions) / 2);
    border-top-right-radius: calc(var(--pb-dimensions) / 2);
    border-bottom: 5px solid #000;
}

.pokeball-bg.spinPokeball {
    transform: rotate(360deg);
    transition: all 1s ease;
}

.pb-bg-center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--pb-dimensions) / 3);
    height: calc(var(--pb-dimensions) / 3);
    background: #fff;
    border-radius: 50%;
    border: 5px solid #000;
    z-index: 101;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.container .header {
    position: relative;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.container .header .page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    font-size: 36px;
    font-weight: 600;
    color: var(--font-clr1);
    font-family: 'Press Start 2P', cursive;
}

.container .subtitle {
    font-size: 18px;
    font-weight: 500;
    color: var(--font-clr1);
    margin: 10px 20px;
    height: 18px;
}

.container .wrapper {
    position: relative;
    display: flex;
}

.container .wrapper .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    width: 260px;
    height: 370px;
    border-radius: 10px;
    background: var(--card-border-clr);
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.1),
    10px 10px 20px rgba(0, 0, 0, 0.5);
}

.container .wrapper .player {
    margin-right: 90px;
}

.container .wrapper .machine {
    margin-left: 90px;
}

.container .wrapper .card.foil {
    background-image: linear-gradient(var(--rotate), #ff0000, #ff7f00, #ffff00, #7fff00, #00ff00, #00ff7f, #00ffff, #007fff, #0000ff, #7f00ff, #ff00ff, #ff07ff);
    animation: spinner-border 4s linear infinite;
    border: none;
}

@keyframes spinner-border {
    0% {
        --rotate: 0deg;
    }
    
    100% {
        --rotate: 360deg;
    }
}

.wrapper .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.wrapper .card .content.fliped {
    background-color: var(--card-back-clr);
}

.card .content .backCard {
    display: none;
}

.card .content.fliped .backCard {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    background-image: url("./img/backCard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content.fliped .backCard .pokeball-card {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--pb-card-dimen);
    min-height: var(--pb-card-dimen);
    width: var(--pb-card-dimen);
    height: var(--pb-card-dimen);
    background: #fff;
    border-radius: 50%;
    border: 3px solid #000;
    z-index: 1000;
    opacity: 0.7;
    box-shadow: 0px 0px 10px #f8f8f8;
}

.content.fliped .backCard .pokeball-card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(50% - 2px);
    background: #f00;
    border-top-left-radius: calc(var(--pb-card-dimen) / 2);
    border-top-right-radius: calc(var(--pb-card-dimen) / 2);
    border-bottom: 3px solid #000;
}

.content.fliped .backCard .pb-card-center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--pb-card-dimen) / 3);
    height: calc(var(--pb-card-dimen) / 3);
    background: #fff;
    border-radius: 50%;
    border: 3px solid #000;
    z-index: 1001;
}

.card .content .cardHeader {
    
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 5px;
    padding: 10px;
    margin: 15px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    border-radius: 30px;
    color: var(--font-clr2);
    background: var(--card-header-clr);
    box-shadow: 2px 2px 5px #000;
}

.content .cardHeader .cardNumber {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .cardHeader .cardName {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .content.fliped .cardHeader {
    display: none;
}

.card .content .cardCenter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
}

.card .content.fliped .cardCenter {
    display: none;
}

.content .cardCenter .cardTypes {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 7px;
    top: 7px;
    background-color: transparent;
    min-width: 10px;
    min-height: 10px;
    z-index: 100;
}

.content .cardCenter .cardTypes .multiplier {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 50%;
    background: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.9);
}

.content .cardCenter .cardTypes .multiplier.buff {
    color: var(--buff-clr);
    text-shadow: 0px 0px 5px var(--buff-clr);
}

.content .cardCenter .cardTypes .multiplier.debuff {
    color: var(--debuff-clr);
    text-shadow: 0px 0px 5px var(--debuff-clr);
}

.content .cardCenter .cardTypes img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    width: 25px;
    height: 25px;
    filter: drop-shadow(0px 0px 5px #000);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
}

.content .cardCenter .cardTypes .typeActive img {
    filter: drop-shadow(0px 0px 5px var(--active-clr));
    border: 1px solid var(--active-border);
}

.card .content .cardCenter .cardImg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.5),
    0px 0px 5px rgba(0, 0, 0, 0.5);
}

.card .content .cardCenter .cardImg:hover {
    box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.5),
    0px 0px 5px rgba(0, 0, 0, 0.5);
}

.cardCenter .cardImg img {
    width: 140px;
    height: 140px;
    margin: 10px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5)) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.card .content .attributeWrapper {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 5px;
    justify-content: space-around;
    place-items: center;
    padding: 10px;
    text-align: center;
    background: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    color: var(--font-clr2);
    font-size: 14px;
    font-weight: 600;
}

.card .content.fliped .attributeWrapper {
    display: none;
}

.content .attributeWrapper .attribute {
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    
}

.machine .attributeWrapper .attribute {
    cursor: initial;
}

.content .attributeWrapper input {
    position: absolute;
    appearance: none;
}

.content .attributeWrapper .attribute div {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 2px;
    background: var(--bg-clr2);
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(0, 0, 0, 0.15),
    -2px -2px 5px rgba(0, 0, 0, 0.25),
    2px 2px 5px rgba(0, 0, 0, 0.15);
}

.content .attributeWrapper .attribute div:hover {
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.15),
    -2px -2px 5px rgba(255, 255, 255, 0.25),
    2px 2px 5px rgba(255, 255, 255, 0.15);
}

.content .attributeWrapper .attribute div.attributeName {
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: 0px 0px 1px #f8f8f8,
    0px 0px 1px #f8f8f8,
    0px 0px 2px #f8f8f8,
    0px 0px 2px #f8f8f8;
}

.content .attributeWrapper .attribute div.actived,
.content .attributeWrapper .attribute input:checked~div {
    border: 1px solid var(--active-border);
    font-weight: 600;
    box-shadow: inset 0 0 3px var(--active-clr),
    inset 0 0 5px var(--active-clr),
    0px 0px 5px var(--active-clr);
}

.content .attributeWrapper .attribute input:checked~div.buff {
    border: 1px solid var(--buff-border);
    box-shadow: inset 0 0 3px var(--buff-clr),
    inset 0 0 5px var(--buff-clr),
    0px 0px 5px var(--buff-clr);
}

.content .attributeWrapper .attribute input:checked~div.debuff {
    border: 1px solid var(--debuff-border);
    box-shadow: inset 0 0 3px var(--debuff-clr),
    inset 0 0 5px var(--debuff-clr),
    0px 0px 5px var(--debuff-clr);
}

.container .controlWrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 120px;
    width: 100%;
}

.controlWrapper .btns {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.container .controlWrapper .btnDraw,
.container .controlWrapper .btnPlay {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    padding: 20px;
    margin: 20px;
    background: var(--bg-clr2);
    color: var(--font-clr2);
    font-size: 16px;
    font-weight: 700;
    box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.25),
    -4px -4px 10px rgba(0, 0, 0, 0.5),
    4px 4px 10px rgba(0, 0, 0, 0.25);
    user-select: none;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
}

.container .controlWrapper .btnDraw:hover,
.container .controlWrapper .btnPlay:hover {
    background-color: var(--btn-hover);
}

.container .controlWrapper .btnDraw:active,
.container .controlWrapper .btnPlay:active {
    box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.25),
    inset 4px 4px 10px rgba(0, 0, 0, 0.5),
    -4px -4px 10px rgba(0, 0, 0, 0.25),
    4px 4px 10px rgba(0, 0, 0, 0.5);
}

.container .controlWrapper .btnDraw.inactive,
.container .controlWrapper .btnPlay.inactive {
    display: none;
}

.controlWrapper .score {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    color: var(--font-clr1);
    margin: 10px;
}

.controlWrapper .score input {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    background: var(--bg-clr2);
    height: 50px;
    outline: none;
    border: none;
    width: 80px;
    font-size: 24px;
    font-weight: 600;
    margin: 10px;
    border-radius: 8px;
    color: var(--font-clr2);
    box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.25),
    -4px -4px 10px rgba(0, 0, 0, 0.5),
    4px 4px 10px rgba(0, 0, 0, 0.25);
}

.modal-mensagem {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--font-clr1);
    text-align: center;
    position: fixed;
    z-index: 1097;
    overflow: hidden;
}

.modal-mensagem div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background: var(--card-border-clr);
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.1),
    10px 10px 20px rgba(0, 0, 0, 0.5);
}

.modal-mensagem span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    left: 0;
    background: #000000;
    color: var(--font-clr1);
    position: relative;
    border-radius: 10px;
    text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.modal-mensagem span.msgWin {
    background-color: var(--msg-bg-win);
}

.modal-mensagem span.msgLose {
    background-color: var(--msg-bg-lose);
}

.modal-mensagem span.msgDraw {
    background-color: var(--msg-bg-draw);
}

.modal-mensagem span.msgStandard {
    background-color: var(--msg-bg-color);
}

.page-logo {
    width: 120px;
    height: 24px;
    position: fixed;
    top: 10px;
    right: 70px;
}

.alura-logo {
    width: 40px;
    position: fixed;
    top: 10px;
    right: 10px;
}

.pokeball-logo {
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}