@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background-color: #10131c;
    --font-color1: #fff;
    --font-color2: #333;
    --card-border-color: #000;
    --card-content-color: greenyellow;
    --card-back-color: #000;
    --card-header-color: yellow;
    --card-img-color: blue;
    --card-atrib-color: blueviolet;
    --actived-atrib-color: red;
    --mensage-bg-color: rgb(102, 0, 255, 75%);
    --card-height: 360px;
    --card-width: 280px;
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--background-color);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .header {
    position: relative;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.page-logo {
    width: 120px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 70px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.pokeball-logo {
    width: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.container .header .page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
    font-size: 36px;
    font-weight: 600;
    color: var(--font-color1);
}

.container .header .btnSortear,
.container .footer .btnJogar {
    position: relative;
    display: grid;
    place-items: center;
    width: 160px;
    height: 40px;
    margin: 20px;
    background: linear-gradient(180deg, #fafafa, #f4f4f4);
    opacity: 1;
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.25), inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 1), 10px 20px 25px rgba(0, 0, 0, 0.45);
    color: var(--font-color2);
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    border-radius: 10px;
}

.container .header .btnSortear.inactive,
.container .footer .btnJogar.inactive {
    opacity: 0.4;
    cursor: none;
}

.container .choice {
    font-size: 18px;
    font-weight: 500;
    color: var(--font-color1);
    margin: 24px;
    height: 18px;
}

.container .wrapper {
    position: relative;
    display: flex;
}

.container .wrapper .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 10px;
    width: 280px;
    height: 360px;
    border-radius: 10px;
    background: var(--card-border-color);
}

.container .wrapper .card.foil {
    background: #191c29;
    width: var(--card-width);
    min-height: var(--card-height);
    padding: 64px;
    position: relative;
    border-radius: 20px;
    justify-content: center;
    color: #00ff00;
    margin: 64px;
}

.container .wrapper .card.foil::before {
    content: "";
    width: calc(100% + 10px);
    height: calc(100% + 20px);
    border-radius: 20px;
    background-image: linear-gradient( var(--rotate), #ff0000, #ff7f00, #ffff00, #7fff00, #00ff00, #00ff7f, #00ffff, #007fff, #0000ff, #7f00ff, #ff00ff, #ff07ff);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -1%;
    animation: spin 4s linear infinite;
}

.container .wrapper .card.foil::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 4));
    background-image: linear-gradient( var(--rotate), #ff0000, #ff7f00, #ffff00, #7fff00, #00ff00, #00ff7f, #00ffff, #007fff, #0000ff, #7f00ff, #ff00ff, #ff07ff);
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

.wrapper .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: var(--card-content-color);
    padding: 10px;
}

.wrapper .card .content.fliped {
    background: var(--card-back-color);
}

.card .content .cardHeader {
    margin: 12px;
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 5px;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    background: var(--card-header-color);
    width: 100%;
    border-radius: 30px;
}

.card .content.fliped .cardHeader {
    display: none;
}

.card .content .cardImg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--card-img-color);
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .content.fliped .cardImg {
    display: none;
}

.cardImg img {
    width: 160px;
    height: 160px;
    margin: 10px;
}

.card .content .cardAtribs {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 5px;
    justify-content: space-around;
    place-items: center;
    padding: 10px;
    text-align: center;
    background: var(--card-atrib-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
}

.card .content.fliped .cardAtribs {
    display: none;
}

.content .cardAtribs .atrib {
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.content .cardAtribs input {
    position: absolute;
    appearance: none;
}

.content .cardAtribs .atrib div {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 2px;
}

.content .cardAtribs .atrib div.actived,
.content .cardAtribs .atrib input:checked~div {
    border: 2px solid var(--actived-atrib-color);
    font-weight: 600;
    box-shadow: inset 0 0 2px var(--actived-atrib-color);
}

.container .footer {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

.modal-mensagem {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--font-color1);
    text-align: center;
    position: fixed;
    z-index: 97;
    overflow: hidden;
}

.modal-mensagem span {
    width: 300px;
    height: 100px;
    left: 0;
    background: #000000;
    color: var(--font-color1);
    position: relative;
    border-radius: 10px;
    background-color: var(--mensage-bg-color);
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}